@import "../../themes/default.module.less";

.whole {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .balancecontrol {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    padding: 0 2em;

    .balance {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
  
      .title {
        font-weight: bold;
        letter-spacing: .2em;
      }
  
      .number {
        margin-top: .5em;
        font-size: 2em;
        color: @primary-color;
      }
    }

    .control {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 1em;

      button {
        width: 5em;
      }
    }
  }

  .bills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.5em;

    .bill {
      flex: 1 0 15em;
      display: flex;
      flex-flow: column nowrap;
      margin: 1em;
      padding: 2em;
      border-radius: 2em;
      transition: .2s;
      box-shadow: .2em .2em .5em 0 fade(black, 10%);
      cursor: pointer;

      &.closed { background-color: fade(black, 1%); }
      &.waiting { background-color: fade(orange, 10%); }
      &.ok { background-color: fade(green, 3%); }

      .moneytypestatus {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .money {
          font-size: 1.5em;
          color: @primary-color;
        }

        .typestatus {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: flex-end;
        }
      }

      .time {
        font-size: .9em;
        color: fade(black, 30%);
        margin-top: .5em;
      }
    }
  }
}
