@import "../../themes/default.module.less";

.whole {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .balance {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    .title {
      font-weight: bold;
      letter-spacing: .2em;
    }

    .number {
      margin-top: .5em;
      font-size: 2em;
      color: @primary-color;
    }
  }
}
