@import '../../themes/default.module.less';

.whole {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .carousel {
    width: 100%;
  }

  .advans {
    margin-top: 3em;
  }
}
