.whole {
  height: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  color: rgba(0, 0, 0, 0.65);
  transition: .2s ease-in-out;
  border-radius: .5em;
  position: relative;

  .icon {
    font-size: 1.3em;
  }

  .title {
    margin: 0 0 0 .5em;
    font-size: 1.1em;
  }

  &:hover, &.active {
    color: @primary-color;
  }

  &:hover::after, &.active::after {
    content: "";
    position: absolute;
    height: .2em;
    width: 80%;
    opacity: .6;
    bottom: 0;
    background-color: @primary-color;
    animation: uline .2s ease-in-out;
  }

  @keyframes uline {
    from { opacity: 0; }
    to { opacity: .6; }
  }
}
