@import '../../themes/default.module.less';


.whole {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  .panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
    .avatar {
      vertical-align: middle;
      background-color: @primary-color;
    }

    .description {
      width: 85%;
      margin-top: 2em;
    }

    .control {
      display: grid;
      grid-template-columns: auto auto;
      gap: 8px;
    }

    .setting {
      margin-top: 1em;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;

      .settings {
        display: grid;
        gap: 4em;
        grid-template-columns: auto auto;
        justify-content: center;
        width: 100%;

        .item {
          .title {
            margin: 0;
            margin-bottom: 1em;
            font-weight: bold;
          }

          .input {
            width: 20em;
          }

          .button {
            width: 20em;
            margin-top: 1em;
          }

          form div {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
