@import '../../../themes/default.module.less';

.whole {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .back {
    position: absolute;
    left: calc((10% - 1em) / 2);
    top: 0;
    cursor: pointer;
    z-index: 1;
    font-size: 2em;
  }

  .detail {
    width: 80%;
    letter-spacing: .1em;

    > div {
      margin-bottom: 1em;
    }
  
    > div:last-child {
      margin-bottom: 0;
    }

    .name {
      font-size: 1.5em;
      font-weight: bolder;
      word-break: break-all;

      .tag {
        font-size: .7em;
      }
    }

    .content {
      line-height: 2em;
      word-break: break-all;
    }

    .panel {
      border: none;
      border-radius: .5em;
      transition: .2s;

      &:hover {
        background-color: fade(@primary-color, 5%);
      }
    }

    .control {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      .buttons {
        .button {
          width: 10em;
        }
      }
    }
  }

  .video {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .item {
      max-width: 15em;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      background: #ffcb7c;
      border-radius: 1em;
      padding: 1em;
      margin: 1.5em 1.5em 0 0;
      cursor: pointer;
      box-shadow: .25em .25em .5em -.3em fade(black, 60%);

      > div {
        width: 100%;
      }
      
      .control {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .play {
          font-size: 2em;
        }

        .duration {
          font-weight: bold;
        }
      }

      .title {
        margin-top: .5em;
      }
    }
  }
}
